<%
  var customerId  	=  user_id;
  var selectedButton=  type ? type :"customer_details";
  var originalUrl 	=  admin_list_url+"/view_customer/"+customerId;
%>
<div class="container-fluid">
	<div class="row clearfix ">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        <%= __('admin.user_management.customer_details'); %>
                    </h2>
                    <ul class="header-dropdown m-r--5 btn-right-top-margin">
                        <li>
                            <a href="<%=admin_list_url%>/list_customer" ><button type="button" class="btn btn-sm bg-indigo waves-effect"><%= __('admin.system.back'); %></button></a>
                        </li>
                    </ul>
				</div>
				<div class="body">
					<a href="<%= originalUrl %>" data-action-url="<%=admin_list_url%>/customer_details/<%=customerId%>" class="action-btn get-tab-details <%= getPermissionClass(module_type,['user_detail','customer_detail']); %>" data-type="customer_details">
						<button type="button" class="btn btn-sm waves-effect btn-success m-t-5">
							<%= __('admin.user_management.customer_details'); %>
						</button>
					</a>
					<a href="<%= originalUrl %>" data-action-url="<%=admin_list_url%>/customer_order_list/<%=customerId%>" class="action-btn get-tab-details <%= getPermissionClass(module_type,['user_detail','order_list']); %>" data-type="order_list">
						<button type="button" class="btn btn-sm waves-effect btn-success m-t-5">
							<%= __('admin.user_management.orders'); %>
						</button>
					</a>
					<a href="<%= originalUrl %>" data-action-url="<%=admin_list_url%>/customer_address_list/<%=customerId%>" class="action-btn  get-tab-details <%= getPermissionClass(module_type,['user_detail','address_list']); %>" data-type="address_list">
						<button type="button" class="btn btn-sm waves-effect btn-success m-t-5">
							<%= __('admin.user_management.address'); %>
						</button>
					</a>
					<a href="<%= originalUrl %>" data-action-url="<%=admin_list_url%>/customer_package_list/<%=customerId%>" class="action-btn  get-tab-details <%= getPermissionClass(module_type,['user_detail','package_list']); %>" data-type="package_list">
						<button type="button" class="btn btn-sm waves-effect btn-success m-t-5">
							<%= __('admin.user_management.packages'); %>
						</button>
					</a>
					<a href="<%= originalUrl %>" data-action-url="<%=admin_list_url%>/refund_detail/<%=customerId%>" class="action-btn  get-tab-details <%= getPermissionClass(module_type,['user_detail','compensation_list']); %>" data-type="refund_detail">
						<button type="button" class="btn btn-sm waves-effect btn-success m-t-5">
							<%= __('admin.user_management.refund_detail'); %>
						</button>
					</a>
					<a href="<%= originalUrl %>" data-action-url="<%=admin_list_url%>/customer_account_list/<%=customerId%>" class="action-btn  get-tab-details <%= getPermissionClass(module_type,['user_detail','account_list']); %>" data-type="account_list">
						<button type="button" class="btn btn-sm waves-effect btn-success m-t-5">
							<%= __('admin.user_management.accounts'); %>
						</button>
					</a>
					<a href="<%= originalUrl %>" data-action-url="<%=WEBSITE_ADMIN_URL%>tickets/customer_ticket_list/<%=customerId%>" class="action-btn  get-tab-details <%= getPermissionClass(module_type,['user_detail','ticket_list']); %>" data-type="ticket_list">
						<button type="button" class="btn btn-sm waves-effect btn-success m-t-5">
							<%= __('admin.user_management.tickets'); %>
						</button>
					</a>
					<a href="<%= originalUrl %>" data-action-url="<%=admin_list_url%>/customer_wallet_details/<%=customerId%>" class="action-btn get-tab-details <%= getPermissionClass(module_type,['user_detail','wallet_details']); %>" data-type="wallet_details">
						<button type="button" class="btn btn-sm waves-effect btn-success m-t-5">
							<%= __('admin.user_management.wallet_details'); %>
						</button>
					</a>
					<a href="<%= originalUrl %>" data-action-url="<%=admin_list_url%>/customer_wallet_transaction_list/<%=customerId%>" class="action-btn get-tab-details <%= getPermissionClass(module_type,['user_detail','wallet_transaction_list']); %>" data-type="wallet_transaction_list">
						<button type="button" class="btn btn-sm waves-effect btn-success m-t-5">
							<%= __('admin.user_management.wallet_transactions'); %>
						</button>
					</a>
					<a href="<%= originalUrl %>" data-action-url="<%=admin_list_url%>/customer_verification_list/<%=customerId%>" class="action-btn  get-tab-details <%= getPermissionClass(module_type,['user_detail','verification_list']); %>" data-type="verification_list">
						<button type="button" class="btn btn-sm waves-effect btn-success m-t-5">
							<%= __('admin.user_management.verifications'); %>
						</button>
					</a>
					<a href="<%= originalUrl %>" data-action-url="<%=WEBSITE_ADMIN_URL%>voc_management/customer_voc_list/<%=customerId%>" class="action-btn  get-tab-details <%= getPermissionClass(module_type,['user_detail','voc_list']); %>" data-type="voc_list">
						<button type="button" class="btn btn-sm waves-effect btn-success m-t-5">
							<%= __('admin.user_management.voc'); %>
						</button>
					</a>
					<a href="<%= originalUrl %>" data-action-url="<%=WEBSITE_ADMIN_URL%>payment_transaction/customer_payment_transaction_list/<%=customerId%>" class="action-btn  get-tab-details <%= getPermissionClass(module_type,['user_detail','payment_transaction_list']); %>" data-type="payment_transaction_list">
						<button type="button" class="btn btn-sm waves-effect btn-success m-t-5">
							<%= __('admin.user_management.payment_transactions'); %>
						</button>
					</a>
					<a href="<%= originalUrl %>" data-action-url="<%=admin_list_url%>/customer_reward_points_list/<%=customerId%>/<%=POINTS_AMOUNT%>" class="action-btn get-tab-details <%= getPermissionClass(module_type,['user_detail','reward_points_list']); %>" data-type="reward_points_list">
						<button type="button" class="btn btn-sm waves-effect btn-success m-t-5">
							<%= __('admin.user_management.reward_points'); %>
						</button>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div id="main-container"></div>
</div>
<%- contentFor('css') %>
	<link rel="stylesheet" href="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>daterange/daterangepicker.css">
	<link rel="stylesheet" href="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>bootstrap-select/css/bootstrap-select.css">
	<link rel="stylesheet" href="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>datepicker/bootstrap-datepicker.min.css">

<%- contentFor("script") %>
	<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>daterange/daterangepicker.js"></script>
	<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>bootstrap-select/js/bootstrap-select.js"></script>
	<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>datepicker/bootstrap-datepicker.min.js"></script>
	<script type="text/javascript">
		/* Event triggered when click on tab btn */
		$(document).on('click','.get-tab-details',function(e){
			$('.get-tab-details').removeClass('active');
			$(this).addClass('active');
			var type = $(this).attr("data-type");
			window.history.replaceState(null, null, "<%= originalUrl+'/'%>"+type);
		});

		$('[data-type="<%=selectedButton%>"]').trigger("click");
	</script>
<script type="text/javascript" src="<%= WEBSITE_ADMIN_JS_PAGE_PATH %>date_range_picker/config.js"></script>
<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PATH%>datatable_state_storage.js"></script>


